<a href="https://colab.research.google.com/github/gabrielfernandorey/EDVAI/blob/main/Bootcamp_DE2_ejercicios_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px"> 

# Bootcamp Data Engineer



Gabriel Rey

<br>



---

# Ejercicios introductorios a Python

In [ ]:
user='gabrielfernandorey'
git_repository = "https://github.com/"+user+"/EDVAI.git"
!git clone {git_repository}

## 1) Importar datos y analisis inicial

1.a) Importar datos y verificar datatypes

https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv

In [1]:
import pandas as pd

In [2]:
filename = 'https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv'
df = pd.read_csv(filename)

In [3]:
df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
dtypes: float64(3), object(8)
memory usage: 7.6+ KB

1.b) Con iloc, mostrar toda la columna name

In [5]:
df.iloc[:, 0]

0     Luke Skywalker
1              C-3PO
2              R2-D2
3        Darth Vader
4        Leia Organa
           ...
82               Rey
83       Poe Dameron
84               BB8
85    Captain Phasma
86     Padmé Amidala
Name: name, Length: 87, dtype: object

1.c) Con iloc, mostrar todo el registro 3

In [6]:
df.iloc[3:4]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human

1.d) Mostrar los nombres de columnas del dataframe

In [7]:
columns = df.columns
columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species'],
      dtype='object')

1.e) Mostrar el shape del dataframe

In [8]:
df.shape

(87, 11)

1.f) Mostrar los primeros 10 registros

In [9]:
df.head(10)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
5,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
6,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human

1.g) Mostrar los ultimos 5 registros

In [10]:
df.tail(5)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human

## 2) Preparacion de datos

2.a) Obtener nulos de la columna species (tip: seleccionar primero los nulos de la columna, por ejemplo 'dataframe['columna'].isna()' y usarlos luego para filtrar los nulos)

In [14]:
species_NaN = df[df.species.isna()]
species_NaN

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
36,Ric Olié,183.0,NaN,brown,fair,blue,NaN,NaN,NaN,Naboo,NaN
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,NaN
79,Sly Moore,178.0,48.0,none,pale,white,NaN,NaN,NaN,Umbara,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN

2.b) Reemplazar nulos en la columna 'species' por el string 'Unknown'

In [15]:
df['species'] = df['species'].fillna("Unknown")

In [16]:
df[df.species == 'Unknown']

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
36,Ric Olié,183.0,NaN,brown,fair,blue,NaN,NaN,NaN,Naboo,Unknown
39,Quarsh Panaka,183.0,NaN,black,dark,brown,62.0,NaN,NaN,Naboo,Unknown
79,Sly Moore,178.0,48.0,none,pale,white,NaN,NaN,NaN,Umbara,Unknown
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,Unknown

2.c) Reemplazar nulos de la columna 'mass' por la mediana de la columna

In [17]:
df['mass'] = df['mass'].fillna(df['mass'].mean())

In [18]:
df.tail(5)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
82,Rey,NaN,97.311864,brown,light,hazel,NaN,female,feminine,NaN,Human
83,Poe Dameron,NaN,97.311864,brown,light,brown,NaN,male,masculine,NaN,Human
84,BB8,NaN,97.311864,none,none,black,NaN,none,masculine,NaN,Droid
85,Captain Phasma,NaN,97.311864,unknown,unknown,unknown,NaN,NaN,NaN,NaN,Unknown
86,Padmé Amidala,165.0,45.000000,brown,light,brown,46.0,female,feminine,Naboo,Human

2.d) Eliminar las columnas 'sex' y 'skin_color'

In [19]:
df = df.drop(['sex','skin_color'], axis=1)
df.columns

Index(['name', 'height', 'mass', 'hair_color', 'eye_color', 'birth_year',
       'gender', 'homeworld', 'species'],
      dtype='object')

2.f) Ordenar el dataframe ascendentemente por la columna mass

In [20]:
df.sort_values('mass', ascending=True)

,name,height,mass,hair_color,eye_color,birth_year,gender,homeworld,species
71,Ratts Tyerell,79.0,15.0,none,unknown,NaN,masculine,Aleen Minor,Aleena
18,Yoda,66.0,17.0,white,brown,896.0,masculine,NaN,Yoda's species
28,Wicket Systri Warrick,88.0,20.0,brown,brown,8.0,masculine,Endor,Ewok
2,R2-D2,96.0,32.0,NaN,red,33.0,masculine,Naboo,Droid
7,R5-D4,97.0,32.0,NaN,red,NaN,masculine,Tatooine,Droid
...,...,...,...,...,...,...,...,...,...
3,Darth Vader,202.0,136.0,none,yellow,41.9,masculine,Tatooine,Human
77,Tarfful,234.0,136.0,brown,blue,NaN,masculine,Kashyyyk,Wookiee
21,IG-88,200.0,140.0,none,red,15.0,masculine,NaN,Droid
76,Grievous,216.0,159.0,none,"green, yellow",NaN,masculine,Kalee,Kaleesh
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,orange,600.0,masculine,Nal Hutta,Hutt

2.g) Crear una nueva columna llamada mass_lb

In [21]:
df['mass_lb'] = None
df

,name,height,mass,hair_color,eye_color,birth_year,gender,homeworld,species,mass_lb
0,Luke Skywalker,172.0,77.000000,blond,blue,19.0,masculine,Tatooine,Human,None
1,C-3PO,167.0,75.000000,NaN,yellow,112.0,masculine,Tatooine,Droid,None
2,R2-D2,96.0,32.000000,NaN,red,33.0,masculine,Naboo,Droid,None
3,Darth Vader,202.0,136.000000,none,yellow,41.9,masculine,Tatooine,Human,None
4,Leia Organa,150.0,49.000000,brown,brown,19.0,feminine,Alderaan,Human,None
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,brown,hazel,NaN,feminine,NaN,Human,None
83,Poe Dameron,NaN,97.311864,brown,brown,NaN,masculine,NaN,Human,None
84,BB8,NaN,97.311864,none,black,NaN,masculine,NaN,Droid,None
85,Captain Phasma,NaN,97.311864,unknown,unknown,NaN,NaN,NaN,Unknown,None
86,Padmé Amidala,165.0,45.000000,brown,brown,46.0,feminine,Naboo,Human,None

2.h) Renombrar la columna 'mass' a 'mass_kg'

In [22]:
df = df.rename(columns={'mass':'mass_kg'})
df.head()

,name,height,mass_kg,hair_color,eye_color,birth_year,gender,homeworld,species,mass_lb
0,Luke Skywalker,172.0,77.000000,blond,blue,19.0,masculine,Tatooine,Human,None
1,C-3PO,167.0,75.000000,NaN,yellow,112.0,masculine,Tatooine,Droid,None
2,R2-D2,96.0,32.000000,NaN,red,33.0,masculine,Naboo,Droid,None
3,Darth Vader,202.0,136.000000,none,yellow,41.9,masculine,Tatooine,Human,None
4,Leia Organa,150.0,49.000000,brown,brown,19.0,feminine,Alderaan,Human,None
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,brown,hazel,NaN,feminine,NaN,Human,None
83,Poe Dameron,NaN,97.311864,brown,brown,NaN,masculine,NaN,Human,None
84,BB8,NaN,97.311864,none,black,NaN,masculine,NaN,Droid,None
85,Captain Phasma,NaN,97.311864,unknown,unknown,NaN,NaN,NaN,Unknown,None
86,Padmé Amidala,165.0,45.000000,brown,brown,46.0,feminine,Naboo,Human,None

2.i) Reordenar las columnas del dataframe, ubicando 'mass_lb' a la derecha de 'mass_kg'

In [23]:
columns = ['name','height','mass_kg','mass_lb','hair_color','eye_color','birth_year','gender','homeworld','species']
df = df[columns]
df.head()

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.000000,None,blond,blue,19.0,masculine,Tatooine,Human
1,C-3PO,167.0,75.000000,None,NaN,yellow,112.0,masculine,Tatooine,Droid
2,R2-D2,96.0,32.000000,None,NaN,red,33.0,masculine,Naboo,Droid
3,Darth Vader,202.0,136.000000,None,none,yellow,41.9,masculine,Tatooine,Human
4,Leia Organa,150.0,49.000000,None,brown,brown,19.0,feminine,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,None,brown,hazel,NaN,feminine,NaN,Human
83,Poe Dameron,NaN,97.311864,None,brown,brown,NaN,masculine,NaN,Human
84,BB8,NaN,97.311864,None,none,black,NaN,masculine,NaN,Droid
85,Captain Phasma,NaN,97.311864,None,unknown,unknown,NaN,NaN,NaN,Unknown
86,Padmé Amidala,165.0,45.000000,None,brown,brown,46.0,feminine,Naboo,Human

2.j) Eliminar del dataset, los registros en donde mass_kg sea menor a 20

In [24]:
df = df[df.mass_kg >=20]
df.head()

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,None,blond,blue,19.0,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,None,NaN,yellow,112.0,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,None,NaN,red,33.0,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,None,none,yellow,41.9,masculine,Tatooine,Human
4,Leia Organa,150.0,49.0,None,brown,brown,19.0,feminine,Alderaan,Human

## 3) Exportar dataframe

Exportar a CSV, usando como separador el caracter |

In [25]:
df.to_csv('sw_procesado.csv', index=False, sep='|', encoding='utf-8')

## 4) Ejercicio integrador

Para completar este ejercicio, debes usar el dataframe d_star_wars con todas las modificaciones realizadas en los puntos anteriores

4.a) Reemplazar los nulos de la columna 'birth_year' por el promedio

In [26]:
d_star_wars = df.copy()
d_star_wars

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.000000,None,blond,blue,19.0,masculine,Tatooine,Human
1,C-3PO,167.0,75.000000,None,NaN,yellow,112.0,masculine,Tatooine,Droid
2,R2-D2,96.0,32.000000,None,NaN,red,33.0,masculine,Naboo,Droid
3,Darth Vader,202.0,136.000000,None,none,yellow,41.9,masculine,Tatooine,Human
4,Leia Organa,150.0,49.000000,None,brown,brown,19.0,feminine,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,None,brown,hazel,NaN,feminine,NaN,Human
83,Poe Dameron,NaN,97.311864,None,brown,brown,NaN,masculine,NaN,Human
84,BB8,NaN,97.311864,None,none,black,NaN,masculine,NaN,Droid
85,Captain Phasma,NaN,97.311864,None,unknown,unknown,NaN,NaN,NaN,Unknown
86,Padmé Amidala,165.0,45.000000,None,brown,brown,46.0,feminine,Naboo,Human

In [27]:
d_star_wars['birth_year'] = d_star_wars['birth_year'].mean()
d_star_wars

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.000000,None,blond,blue,68.316667,masculine,Tatooine,Human
1,C-3PO,167.0,75.000000,None,NaN,yellow,68.316667,masculine,Tatooine,Droid
2,R2-D2,96.0,32.000000,None,NaN,red,68.316667,masculine,Naboo,Droid
3,Darth Vader,202.0,136.000000,None,none,yellow,68.316667,masculine,Tatooine,Human
4,Leia Organa,150.0,49.000000,None,brown,brown,68.316667,feminine,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,None,brown,hazel,68.316667,feminine,NaN,Human
83,Poe Dameron,NaN,97.311864,None,brown,brown,68.316667,masculine,NaN,Human
84,BB8,NaN,97.311864,None,none,black,68.316667,masculine,NaN,Droid
85,Captain Phasma,NaN,97.311864,None,unknown,unknown,68.316667,NaN,NaN,Unknown
86,Padmé Amidala,165.0,45.000000,None,brown,brown,68.316667,feminine,Naboo,Human

4.b) Eliminar los decimales de la columna 'birth_year' (investigar round() )

In [28]:
d_star_wars['birth_year'] = round(d_star_wars['birth_year'].mean())
d_star_wars

,name,height,mass_kg,mass_lb,hair_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.000000,None,blond,blue,68,masculine,Tatooine,Human
1,C-3PO,167.0,75.000000,None,NaN,yellow,68,masculine,Tatooine,Droid
2,R2-D2,96.0,32.000000,None,NaN,red,68,masculine,Naboo,Droid
3,Darth Vader,202.0,136.000000,None,none,yellow,68,masculine,Tatooine,Human
4,Leia Organa,150.0,49.000000,None,brown,brown,68,feminine,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,97.311864,None,brown,hazel,68,feminine,NaN,Human
83,Poe Dameron,NaN,97.311864,None,brown,brown,68,masculine,NaN,Human
84,BB8,NaN,97.311864,None,none,black,68,masculine,NaN,Droid
85,Captain Phasma,NaN,97.311864,None,unknown,unknown,68,NaN,NaN,Unknown
86,Padmé Amidala,165.0,45.000000,None,brown,brown,68,feminine,Naboo,Human

4.c) Cambiar el tipo de datos de la columna 'birth_year' de float a integer

In [29]:
d_star_wars['birth_year'] = d_star_wars['birth_year'].astype(int)

In [30]:
d_star_wars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 86
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        85 non-null     object
 1   height      79 non-null     float64
 2   mass_kg     85 non-null     float64
 3   mass_lb     0 non-null      object
 4   hair_color  80 non-null     object
 5   eye_color   85 non-null     object
 6   birth_year  85 non-null     int64
 7   gender      81 non-null     object
 8   homeworld   76 non-null     object
 9   species     85 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 7.3+ KB

4.d) Cambiar el tipo de datos de la columna 'birth_year' de integer a string

In [31]:
d_star_wars['birth_year'] = d_star_wars['birth_year'].astype(str)
d_star_wars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 86
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        85 non-null     object
 1   height      79 non-null     float64
 2   mass_kg     85 non-null     float64
 3   mass_lb     0 non-null      object
 4   hair_color  80 non-null     object
 5   eye_color   85 non-null     object
 6   birth_year  85 non-null     object
 7   gender      81 non-null     object
 8   homeworld   76 non-null     object
 9   species     85 non-null     object
dtypes: float64(2), object(8)
memory usage: 7.3+ KB

4.e) Crear una funcion llamada for_sample.
      La misma debe, mediante un for, hacer prints en pantalla con el siguiente formato:
  `R2-D2 nacido/a en el año 33 en el planeta Naboo`
R2-D2(name), 33(birth_year), Naboo(homeworld)

      Parametros: 
      *   df: dataframe 
      *   iteraciones: cantidad de registros a mostrar en el print (elegir un numero aleatorio)

In [33]:
import random
def for_sample(df, iteraciones=None):
    '''
    Args
      df: dataframe 
      iteraciones: cantidad de registros a mostrar
    Return
      Esta función devuelve un listado del dataframe argumento,
      si no se pasan numero de iteraciones lista todos los registros, sino solo los indicados.
    '''
    
    if iteraciones==None: iteraciones = random.randint(0, len(df))
        
    for idx, row in df.iterrows():
        print(row['name'], ' nacido/a en el año ', row['birth_year'], ' en el planeta ', row['homeworld'])
        if idx == iteraciones-1:
            break
    
    return print(f"{idx+1} registros listados")

In [34]:
for_sample(d_star_wars, 7)

Luke Skywalker  nacido/a en el año  68  en el planeta  Tatooine
C-3PO  nacido/a en el año  68  en el planeta  Tatooine
R2-D2  nacido/a en el año  68  en el planeta  Naboo
Darth Vader  nacido/a en el año  68  en el planeta  Tatooine
Leia Organa  nacido/a en el año  68  en el planeta  Alderaan
Owen Lars  nacido/a en el año  68  en el planeta  Tatooine
Beru Whitesun lars  nacido/a en el año  68  en el planeta  Tatooine
7 registros listados