<a href="https://colab.research.google.com/github/gabrielfernandorey/EDVAI/blob/main/PySpark/PySpark_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark - Ejercicios clase 8

### Instalación y carga de Pyspark

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=99f41b5e9306a0537b79656e83f592206ce93eaa91fa3c87829329bfb11c8820
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('test_pyspark').getOrCreate()

### Librerías necesarias

In [4]:
from pyspark.sql.types import StringType, BooleanType, FloatType, IntegerType, DoubleType, DateType
import pyspark.sql.functions as F
from pyspark.sql.functions import sum, col, desc, asc, count, countDistinct, round, max, min, avg
from pyspark.sql.functions import to_timestamp,date_format
from pyspark.sql.window import Window

from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, HasInputCols, HasOutputCols, Param, Params, TypeConverters
from pyspark import keyword_only
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml import Model
from pyspark.ml import Estimator

from datetime import datetime
import numpy as np

### Importamos datos

In [5]:
!wget https://data-engineer-edvai.s3.amazonaws.com/f1/results.csv

--2023-05-10 13:39:18--  https://data-engineer-edvai.s3.amazonaws.com/f1/results.csv
Resolving data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)... 54.231.195.169, 52.216.41.97, 52.217.233.17, ...
Connecting to data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)|54.231.195.169|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1633624 (1.6M) [text/csv]
Saving to: ‘results.csv’

results.csv         100%[===================>]   1.56M  1.34MB/s    in 1.2s

2023-05-10 13:39:20 (1.34 MB/s) - ‘results.csv’ saved [1633624/1633624]

In [6]:
!wget https://data-engineer-edvai.s3.amazonaws.com/f1/drivers.csv

--2023-05-10 13:39:20--  https://data-engineer-edvai.s3.amazonaws.com/f1/drivers.csv
Resolving data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)... 52.216.61.81, 52.217.206.81, 52.216.110.187, ...
Connecting to data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)|52.216.61.81|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 93568 (91K) [text/csv]
Saving to: ‘drivers.csv’

drivers.csv         100%[===================>]  91.38K   239KB/s    in 0.4s

2023-05-10 13:39:21 (239 KB/s) - ‘drivers.csv’ saved [93568/93568]

In [7]:
!wget https://data-engineer-edvai.s3.amazonaws.com/f1/constructors.csv

--2023-05-10 13:39:21--  https://data-engineer-edvai.s3.amazonaws.com/f1/constructors.csv
Resolving data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)... 52.216.61.81, 52.217.206.81, 52.216.110.187, ...
Connecting to data-engineer-edvai.s3.amazonaws.com (data-engineer-edvai.s3.amazonaws.com)|52.216.61.81|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17384 (17K) [text/csv]
Saving to: ‘constructors.csv’

constructors.csv    100%[===================>]  16.98K  --.-KB/s    in 0.001s

2023-05-10 13:39:22 (24.8 MB/s) - ‘constructors.csv’ saved [17384/17384]

In [ ]:
# Con esta alternativa algunos tipos de datos no se importan de forma adecuada
# df = spark.read.option("header","true").csv("*.csv")

In [8]:
# Con esta alternativa los tipos de datos se importan de forma adecuada (siempre verificar!)
spk_results = spark.read.option("header","true").option("inferSchema", "true") .csv("results.csv")

In [9]:
spk_drivers = spark.read.option("header","true").option("inferSchema", "true") .csv("drivers.csv")

In [10]:
spk_constructors = spark.read.option("header","true").option("inferSchema", "true") .csv("constructors.csv")

In [11]:
import pandas as pd
df_results = pd.read_csv("/content/results.csv")

In [12]:
df_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25655,25661,1086,825,210,20,13,16,16,16,0.0,69,\N,\N,37,15,1:23.511,188.856,11
25656,25662,1086,848,3,23,17,17,17,17,0.0,69,\N,\N,43,12,1:23.047,189.911,11
25657,25663,1086,849,3,6,19,18,18,18,0.0,69,\N,\N,60,8,1:22.478,191.221,11
25658,25664,1086,852,213,22,16,19,19,19,0.0,68,\N,\N,58,16,1:23.538,188.795,12
25659,25665,1086,822,51,77,8,20,20,20,0.0,65,\N,\N,60,19,1:24.002,187.752,131

### Visualizamos schema

In [13]:
spk_results.printSchema()

root
 |-- resultId: integer (nullable = true)
 |-- raceId: integer (nullable = true)
 |-- driverId: integer (nullable = true)
 |-- constructorId: integer (nullable = true)
 |-- number: string (nullable = true)
 |-- grid: integer (nullable = true)
 |-- position: string (nullable = true)
 |-- positionText: string (nullable = true)
 |-- positionOrder: integer (nullable = true)
 |-- points: double (nullable = true)
 |-- laps: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- milliseconds: string (nullable = true)
 |-- fastestLap: string (nullable = true)
 |-- rank: string (nullable = true)
 |-- fastestLapTime: string (nullable = true)
 |-- fastestLapSpeed: string (nullable = true)
 |-- statusId: integer (nullable = true)

In [14]:
spk_results.show(5)

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|       time|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|       1|    18|       1|            1|    22|   1|       1|           1|            1|  10.0|  58|1:34:50.616|     5690616|        39|   2|      1:27.452|        218.300|       1|
|       2|    18|       2|            2|     3|   5|       2|           2|            2|   8.0|  58|     +5.478|     5696094|        41|   3|      1:27.739|        217.586|       1|
|       3|    18|       3|            3|     7|   7|       3|           3|            3|   6.0|  58|     +8.163|     5698779|        41|   5|      1:28.090|        216.719|       1|
|       4|    18|       4|            4|     5|  11|       4|           4|            4|   5.0|  58|    +17.181|     5707797|        58|   7|      1:28.603|        215.464|       1|
|       5|    18|       5|            1|    23|   3|       5|           5|            5|   4.0|  58|    +18.014|     5708630|        43|   1|      1:27.418|        218.385|       1|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 5 rows

In [15]:
spk_drivers.printSchema()

root
 |-- driverId: integer (nullable = true)
 |-- driverRef: string (nullable = true)
 |-- number: string (nullable = true)
 |-- code: string (nullable = true)
 |-- forename: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [16]:
spk_drivers.show(5)

+--------+----------+------+----+--------+----------+----------+-----------+--------------------+
|driverId| driverRef|number|code|forename|   surname|       dob|nationality|                 url|
+--------+----------+------+----+--------+----------+----------+-----------+--------------------+
|       1|  hamilton|    44| HAM|   Lewis|  Hamilton|1985-01-07|    British|http://en.wikiped...|
|       2|  heidfeld|    \N| HEI|    Nick|  Heidfeld|1977-05-10|     German|http://en.wikiped...|
|       3|   rosberg|     6| ROS|    Nico|   Rosberg|1985-06-27|     German|http://en.wikiped...|
|       4|    alonso|    14| ALO|Fernando|    Alonso|1981-07-29|    Spanish|http://en.wikiped...|
|       5|kovalainen|    \N| KOV|  Heikki|Kovalainen|1981-10-19|    Finnish|http://en.wikiped...|
+--------+----------+------+----+--------+----------+----------+-----------+--------------------+
only showing top 5 rows

In [17]:
spk_constructors.printSchema()

root
 |-- constructorId: integer (nullable = true)
 |-- constructorRef: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- url: string (nullable = true)

In [18]:
spk_constructors.show(5)

+-------------+--------------+----------+-----------+--------------------+
|constructorId|constructorRef|      name|nationality|                 url|
+-------------+--------------+----------+-----------+--------------------+
|            1|       mclaren|   McLaren|    British|http://en.wikiped...|
|            2|    bmw_sauber|BMW Sauber|     German|http://en.wikiped...|
|            3|      williams|  Williams|    British|http://en.wikiped...|
|            4|       renault|   Renault|     French|http://en.wikiped...|
|            5|    toro_rosso|Toro Rosso|    Italian|http://en.wikiped...|
+-------------+--------------+----------+-----------+--------------------+
only showing top 5 rows

### Insertar en la tabla driver_results los corredores con mayor cantidad de puntos en la historia.

In [19]:
# Creamos vista
spk_results.createOrReplaceTempView("results")
spk_drivers.createOrReplaceTempView("drivers")

In [43]:
query1 = """ SELECT drivers.forename, drivers.surname, drivers.nationality, SUM(results.points) as points
             FROM drivers
             JOIN results ON drivers.driverId = results.driverId
             GROUP BY drivers.forename, drivers.surname, drivers.nationality 
             ORDER BY points DESC """
             

df_pilotos = spark.sql(query1)
df_pilotos.show()

+---------+-----------+-----------+------+
| forename|    surname|nationality|points|
+---------+-----------+-----------+------+
|    Lewis|   Hamilton|    British|4308.5|
|Sebastian|     Vettel|     German|3077.0|
| Fernando|     Alonso|    Spanish|2021.0|
|     Kimi|  Räikkönen|    Finnish|1873.0|
|      Max| Verstappen|      Dutch|1792.5|
| Valtteri|     Bottas|    Finnish|1775.0|
|     Nico|    Rosberg|     German|1594.5|
|  Michael| Schumacher|     German|1566.0|
|   Daniel|  Ricciardo| Australian|1289.0|
|   Jenson|     Button|    British|1235.0|
|   Felipe|      Massa|  Brazilian|1167.0|
|   Sergio|      Pérez|    Mexican|1059.0|
|     Mark|     Webber| Australian|1047.5|
|    Alain|      Prost|     French| 798.5|
|  Charles|    Leclerc| Monegasque| 724.0|
|   Carlos|      Sainz|    Spanish| 680.5|
|   Rubens|Barrichello|  Brazilian| 658.0|
|   Ayrton|      Senna|  Brazilian| 614.0|
|    David|  Coulthard|    British| 535.0|
|     Nico| Hülkenberg|     German| 521.0|
+---------+-----------+-----------+------+
only showing top 20 rows

### Insertar en la tabla constructor_result quienes obtuvieron más puntos en el Spanish Grand Prix en el año 1991

In [44]:
# Creamos vista
spk_constructors.createOrReplaceTempView("constructors")

In [49]:
query2 = """SELECT c.constructorRef, c.name, c.nationality, c.url, SUM(results.points) as points
           FROM constructors as c 
           JOIN results ON results.constructorId = c.constructorId
           WHERE results.raceId = 318
           GROUP BY c.constructorRef, c.name, c.nationality, c.url
           ORDER BY points DESC """

df_SGP = spark.sql(query2)
df_SGP.show(15)

+--------------+------------+-----------+--------------------+------+
|constructorRef|        name|nationality|                 url|points|
+--------------+------------+-----------+--------------------+------+
|      williams|    Williams|    British|http://en.wikiped...|  14.0|
|       ferrari|     Ferrari|    Italian|http://en.wikiped...|   9.0|
|       mclaren|     McLaren|    British|http://en.wikiped...|   2.0|
|      benetton|    Benetton|    Italian|http://en.wikiped...|   1.0|
|     fondmetal|   Fondmetal|    Italian|http://en.wikiped...|   0.0|
|        leyton|Leyton House|    British|http://en.wikiped...|   0.0|
|       minardi|     Minardi|    Italian|http://en.wikiped...|   0.0|
|       tyrrell|     Tyrrell|    British|http://en.wikiped...|   0.0|
|       brabham|     Brabham|    British|http://en.wikiped...|   0.0|
|          lola|        Lola|    British|http://en.wikiped...|   0.0|
|        ligier|      Ligier|     French|http://en.wikiped...|   0.0|
|           ags|         AGS|     French|http://en.wikiped...|   0.0|
|       dallara|     Dallara|    Italian|http://en.wikiped...|   0.0|
|    team_lotus|  Team Lotus|    British|http://en.wikiped...|   0.0|
|         lambo|       Lambo|    Italian|http://en.wikiped...|   0.0|
+--------------+------------+-----------+--------------------+------+
only showing top 15 rows